/*navbar, should be inserted at the top of every page*/
  .navbar {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: rgba(0,0,0,.5);
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-text-stroke: .5px black;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;                    
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    font-weight: bolder;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    -webkit-text-stroke: .5px black;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #707070;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d4d4d4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #1f1f1f;
  }
  
  .dropdown-content a {
    float: none;
    color: #1f1f1f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;                    
  }
  
  .dropdown-content a:hover {
    background-color: #d4d4d4;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }

  .icon {
    height: 30px;
  }
  