.diamond{
    margin: 10px 50px 50px 50px;
    width: 90%;
    height: auto;
}
.platinum{
    margin: 10px 50px 50px 50px;
    width: 400px;
    height: auto;
}
.gold{
    margin: 10px 50px 50px 50px;
    width: 300px;
    height: auto;
}
.silver{
    margin: 10px 50px 50px 50px;
    width: 200px;
    height: auto;
}
  

  